<p>profile-form works!</p>
<form [formGroup]="form" (ngSubmit)="submit()">

  <input formControlName="name" placeholder="Name" />
  <input formControlName="email" placeholder="Email" />
  <input formControlName="age" type="number" placeholder="Age" />

  <button type="submit" [disabled]="form.invalid">
    Submit
  </button>
  <div *ngIf="form.controls.name.touched && form.controls.name.invalid">
  Name is required
</div>
<div *ngIf="form.controls.email.errors?.emailTaken">
  Email already exists
</div>
</form>

